# Copyright (c) 2025 Mario Paja
# SPDX-License-Identifier: Apache-2.0

if BOARD_MIKROE_UNI_CLICKER

source "boards/common/usb/Kconfig.cdc_acm_serial.defconfig"

if NETWORKING

config NET_L2_ETHERNET
	default y if DT_HAS_ST_STM32_ETHERNET_ENABLED

endif # NETWORKING

endif # BOARD_MIKROE_UNI_CLICKER
